<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>秒杀列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdn.bootcss.com/jquery-countdown/2.0.1/jquery.countdown.css" rel="stylesheet"/>
</head>

<body id="body" hidden="hidden">
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>秒杀列表</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>库存</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>创建时间</th>
                    <th>详情页</th>
                    <th>修改</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="seckill : ${list}">
                    <td th:text="${seckill.name}"></td>
                    <td th:text="${seckill.number}"></td>
                    <td th:text="${#dates.format(seckill.startTime,'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(seckill.endTime,'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(seckill.createTime,'yyyy-MM-dd')}"></td>
                    <td th:if="${seckill.getNumber()==0}">
                        <a class="btn btn-danger" disabled="disabled" href="javascript:void(0)">
                            已售罄
                        </a>
                    </td>
                    <td th:if="${seckill.getNumber()!=0}">
                        <a th:href="@{'/seckill/'+${seckill.seckillId}+'/detail'}" class="btn btn-info"
                           target="_blank">
                            详情页
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/seckill/'+${seckill.seckillId}+'/change'}" class="btn btn-info"
                           target="_blank">修改</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:inline="javascript" type="text/javascript">
    $(function () {
        $("#body").show();
    });
</script>
</html>
